app/release
*jks
*pepk
*patch
*.iml
##############################################################################
### Gradle template
.gradle
.gradle/
/local.properties
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
