<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!-- Disable Crashlytics for debug builds to prevent crash due to missing build ID -->
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        <!-- Also disable auto data collection -->
        <meta-data
            android:name="firebase_data_collection_default_enabled"
            android:value="false" />
    </application>

</manifest>
